body {
    margin: 0;
    padding: 0;
}
#RTSLanding {
    position: absolute;
    display: block;
    background-image: url(../assets/RTSLanding.jpg);
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all 0.3s ease;
}
a:hover {
    background-color: #420101;
    color: white;
}
#nav-example {
    background-color: white;
}

#Song1_Single {
    background-image: url(../assets/Song1_Single.jpg);
    margin: 0px;
    padding: 0px;
    height: auto;
    width: 100%;
}

#mainbutton {
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
    background-color: #420101;
    font-weight: bold;
    border: none;
    color: white;
    transition: all 0.3s ease;
}

#mainbutton:hover {
    background-color: #610000;
}
